<html>

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/lint/lint.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/search/matchesonscrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/dialog/dialog.css">

    
    <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
    <script src="http://csslint.net/js/csslint.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/lint/lint.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/javascript/javascript.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/lint/css-lint.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/lint/json-lint.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/search/jump-to-line.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/search/match-highlighter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/search/search.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/search/searchcursor.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/search/matchesonscrollbar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/addon/dialog/dialog.js"></script>

    <style>
        .CodeMirror {
            border: 1px solid #ccc;
            border-radius:4px;
        }
    </style>
    <script>
        $(function(){
            var editor = $('#editor');
            var editor = CodeMirror.fromTextArea(editor[0], {
            lineNumbers: true,
            mode: "application/json",
            gutters: ["CodeMirror-lint-markers"],
            lint: true,
            extraKeys: {"Alt-F": "findPersistent"}
            });
            editor.setSize('100%','65%');
        })
    </script>

</head>

<body>
    <div class="container">

        <div class="page-header">
          <h1>Scenario Editor</h1>
        </div>

        <form action="/savefile?file=<%=scenario.name%>" method="post">
            <div class="form-group">             
                <label class="sr-only" for="name readonly">Name</label>
                <% if (scenario.mode=='edit') { %>                       
                    <input type="text" required class="form-control" id="name" name="name" placeholder="Name" readonly="readonly" value="<%=scenario.name%>">
                <% } else { %>
                    <input type="text" required class="form-control" id="name" name="name" placeholder="Name" value="<%=scenario.name%>">
                <% } %>                
            </div>
            <div class="form-group">
                <label class="sr-only" for="name">Description</label>
                <input type="text" required class="form-control" id="description" name="description" placeholder="Description" value="<%=scenario.description%>">
            </div>
            <div class="form-group">
                <textarea id="editor" name="editor" style='width:100%;height:70%'><%=scenario.code%></textarea>
            </div>
            <div class="btn-group" role="group" style="margin-top:10px;float:right;">
                <button type="submit" class="btn btn-default">Save</submit>
            </div>
        </form>
    </div>    
</body>

</html>